<!DOCTYPE html>

<html>
    <head>
        <title>APS DEV WEB - Início</title>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/cadastro.css">
        <link rel="stylesheet" href="../node_modules/normalize.css/normalize.css">
    </head>
    
    <body>
        <header>
            <div class="logo">logo</div>

            <div class="buttons">
                <a href="./login.html">
                    <span class="material-icons">face</span>
                    Login
                </a>
            </div>
        </header>
        <nav class="menu">
            <a href="./index.html">Início</a>
            <a href="./produtos.html">Produtos</a>
        </nav>

        <form class="form">
            <h1 class="h1">Cadastro</h1>
                <div class="container"> 

                <div class="container_label_top">
                    <label>Nome:</label>
                    <input type="text" name="nome" placeholder="Informe o nome completo">  

                    <label>CPF:</label>
                    <input type="text" name="cpf" placeholder="Informe o cpf">
                </div>

                <div class="container_label">
                    <label>E-mail:</label>
                    <input type="email" placeholder="Informe o email">

                    <label>Senha:</label>
                    <input type="password" name="senha" placeholder="Informe a senha desejada">
                 </div>
                 
                 <div class="container_button">
                    <button>Cadastrar</button>
                </div>
                </div>
            
        </form>

        <footer>© Bruno Agiani, Erick Fraga e Evelyn Correa. 2021</footer>
    </body>
</html>