<!DOCTYPE html>

<html>
    <head>
        <title>APS DEV WEB - Início</title>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/cadastro.css">
    </head>
    
    <body>
        <header>
            <div class="logo">logo</div>

            <div class="buttons">
                <a href="./login.html">
                    <span class="material-icons">face</span>
                    Login
                </a>
            </div>
        </header>
        <nav class="menu">
            <a href="./index.html">Início</a>
            <a href="./produtos.html">Produtos</a>
        </nav>

        <main>
            <h1>Cadastro</h1>
            
                <label>Nome:</label>
                <input type="text" name="nome" placeholder="Informe o seu nome completo">
            
        </main>

        <footer>© Bruno Agiani, Erick Fraga e Evelyn Correa. 2021</footer>
    </body>
</html>