<!DOCTYPE html>

<html>
    <head>
        <title>APS DEV WEB</title>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/index.css">
    </head>
    
    <body>
        <header>
            <h3>header aq</h3>

            <div class="buttons">
                <button>Login</button>
                <button>Cadastro</button>
            </div>
        </header>
        <nav class="menu">
            <a href="./index.html">Início</a>
            <a href="./produtos.html">Produtos</a>
        </nav>

        <h1>conteudo de dentro da pag ner</h1>
        <footer>footer aq</footer>
    </body>
</html>