<!DOCTYPE html>

<html>
    <head>
        <title>APS DEV WEB</title>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
        <link rel="stylesheet" href="../node_modules/normalize.css/normalize.css">
        <link rel="stylesheet" href="../style/style.css">
    </head>
    
    <body>
        <header>
            <div class="logo">logo</div>

            <div class="buttons">
                <a href="./login.html">
                    <span class="material-icons">face</span>
                    Login
                </a>
                <a href="./cadastro.html">
                    <span class="material-icons">description</span>
                    Cadastro
                </a>
            </div>
        </header>
        <nav class="menu">
            <a href="./index.html">Início</a>
            <a href="./produtos.html">Produtos</a>
        </nav>

        <div class="content">conteudo</div>

        <footer>© Bruno Agiani, Erick Fraga e Evelyn Correa. 2021</footer>
    </body>
</html>