<!DOCTYPE html>
<html lang="en">
<head>
    <title>APS DEV WEB - Login</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/login.css">

    <script src="../js/account.js"></script>
</head>
<body>
    <header>
        <div class="logo">logo</div>

        <div class="buttons">
            <a href="./login.html">
                <span class="material-icons">face</span>
                Login
            </a>
            <a href="./cadastro.html">
                <span class="material-icons">description</span>
                Cadastro
            </a>
        </div>
    </header>
    <nav class="menu">
        <a href="./index.html">Início</a>
    </nav>

    <div class="content">

        <form onsubmit="validateLogin()">
            <div class="box-form">
                <h1>Login</h1>
                <label>Email:</label>
                <input type="email" id="email" placeholder="exemplo@email.com">

                <label>Senha:</label>
                <input type="password" id="senha">

                <button type="submit" class="button">Entrar</button>   
            </div> 
        </form>
    </div>
    <footer>© Bruno Agiani, Erick Fraga e Evelyn Correa. 2021</footer>
</body>
</html>
