<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../node_modules/normalize.css/normalize.css">
</head>
<body>   
    
    <nav class="menu">
        <a href="./index.html">Início</a>
        <a href="./produtos.html">Produtos</a>
    </nav>

    <div class="content">

        <form action="/login" method="post">
            <div>
                <h1>Login</h1>

                <div>
                    <label>Email:</label>
                    <input type="email" placeholder="exemplo@email.com">

                    <label>Senha:</label>
                    <input type="password">

                    <button type="submit">Login</button>
                </div>
            </div>  
        </form>
    </div>
    <footer>© Bruno Agiani, Erick Fraga e Evelyn Correa. 2021</footer>
</body>
</html>