<!DOCTYPE html>

<html>
    <head>
        <title>APS DEV WEB - Produtos</title>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/index.css">
        <link rel="stylesheet" href="../styles/produtos.css">

        <script src="../js/produtos.js"></script>
    </head>
    
    <body>
        <header>
            <div class="logo">logo</div>

            <div class="buttons">
                <a href="./login.html">
                    <span class="material-icons">face</span>
                    Login
                </a>
                <a href="./cadastro.html">
                    <span class="material-icons">description</span>
                    Cadastro
                </a>
            </div>
        </header>
        <nav class="menu">
            <a href="./index.html">Início</a>
            <a href="./produtos.html">Produtos</a>
        </nav>

        <div class="content">
            <h1 class="page-title">PRODUTOS</h1>

            <section class="cards">
                <div class="card">
                    <p class="card-title">titulo do produto</p>
                    <p class="card-description">descrição do produto descrição do produto descrição do produto descrição do produto descrição do produto descrição do produto</p>
                    
                    <div class="card-add-to-cart">
                        <div class="card-quantity">
                            <button onclick="remove(0)">-</button>
                            <p class="selected-qtd">1</p>
                            <button onclick="add(0)">+</button>
                        </div>
                        <button class="card-add-quantity" onclick="addProductToCart(0)">Adicionar ao carrinho</button>
                    </div>
                </div>
                <div class="card">
                    <p class="card-title">titulo do produto</p>
                    <p class="card-description">descrição do produto descrição do produto descrição do produto descrição do produto descrição do produto descrição do produto</p>
                    
                    <div class="card-add-to-cart">
                        <div class="card-quantity">
                            <button onclick="remove(1)">-</button>
                            <p class="selected-qtd">1</p>
                            <button onclick="add(1)">+</button>
                        </div>
                        <button class="card-add-quantity" onclick="addProductToCart(1)">Adicionar ao carrinho</button>
                    </div>
                </div>
                <div class="card">
                    <p class="card-title">titulo do produto</p>
                    <p class="card-description">descrição do produto descrição do produto descrição do produto descrição do produto descrição do produto descrição do produto</p>
                    
                    <div class="card-add-to-cart">
                        <div class="card-quantity">
                            <button onclick="remove(2)">-</button>
                            <p class="selected-qtd">1</p>
                            <button onclick="add(2)">+</button>
                        </div>
                        <button class="card-add-quantity" onclick="addProductToCart(2)">Adicionar ao carrinho</button>
                    </div>
                </div>
            </section>
        </div>

        <footer>© Bruno Agiani, Erick Fraga e Evelyn Correa. 2021</footer>
    </body>
</html>